<div class="page-header">
  <%= link_to terms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_term_path(@term), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show term</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @term.name %></dd>

  <dt>Definition:</dt>
  <dd><%= @term.definition %></dd>

  <dt>Author:</dt>
  <dd><%= @term.author %></dd>

  <dt>Web link:</dt>
  <dd><%= @term.web_link %></dd>

</dl>
